/* css reset plus some sensible default styling. */

*, *:after, *:before {
	box-sizing: border-box;
}

/* BASE */
/* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
html {
	height: 100%;
	font-size: 100%;
	overflow-y: scroll;
/*	in normalize.css
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
*/
  // Cancel highlight color when tapping in iOS
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* Improve default text rendering, handling of kerning pairs and ligatures */
body {
	min-height: 100%;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	/* DEFAULT FONT SETTINGS */
	font: 100%/1.5 "Helvetica Neue", Helvetica, Roboto, "Open Sans", Arial, sans-serif;
	color: $text-color;
	background-color: $body-bg;
}

/* set borders, padding, margins, vertical align */
html, body,
/* sections */
address, article, aside, footer, header, hgroup, nav, section,
/* h1, h2, h3, h4, h5, h6 */ // set these up separately
/* grouping content */
p, blockquote, pre, div,
dl, dt, dd, ol, ul, li,
figcaption, figure, main,
/* semantics */
abbr, cite, dfn, em, q, s, small, span, strong, time, var,
/* br, wbr, */ // don't need to specify boxes
code, kbd, samp,
b, u, i,
/* insertions/deletions */
del, ins, mark,
/* text positioning */
sub, sup,
/* tables */
table, caption, col, colgroup, tbody, tfoot, thead, tr, th, td,
/* embedded content */
img, /* picture, */
embed, iframe, object, audio, video, /* param, source, track, */
/* links */
a, map, area,
/* form parts */
fieldset, form, label, legend, meter, progress,
// datalist,
/* button, input, option, optgroup, select, textarea */
/* interactive elements */
details, summary, /* dialog, menu, menuitem, */
/* script-related stuff */
canvas, template
/* main, */ {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* leave out the border for these elements */
button, input, optgroup, select, textarea {
/*	in normalize.css
	margin: 0;
	font: inherit;
*/
	padding: 0;
	vertical-align: baseline;
}

/* set font/size on non-inline elements */
html, body,
/* sections */
address, article, aside, footer, header, hgroup, nav, section,
/* h1, h2, h3, h4, h5, h6 */ // set these up separately
/* grouping content */
p, blockquote, pre, div,
dl, dt, dd, ol, ul, li,
figcaption, figure, main,
/* tables */
table, caption, col, colgroup, tbody, tfoot, thead, tr, th, td,
/* embedded content */
img, /* picture, */
embed, iframe, object, audio, video, /* param, source, track, */
/* form parts */
fieldset, form, label, legend,
input, textarea,
/* interactive elements */
details, summary, /* dialog, menu, menuitem, */
/* script-related stuff */
canvas, template {
    font-size: $font-size;
    line-height: 1.5;
}

/* HTML5 DECLARATIONS */
/*	- all covered by normalize.css
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, progress, video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden], template {
	display: none;
}
*/

img {
//	Don't allow <img> be larger than its container
	max-width: 100%;
	vertical-align: middle;
/*	in normalize.css
	border: 0;
*/
	-ms-interpolation-mode: bicubic;
}

/* in normalize.css
svg:not(:root) { overflow: hidden; }
*/


/* CODE */
/* Allow line wrapping of 'pre' */
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
/*	in normalize.css
	overflow: auto;
*/
}

pre, code, kbd, samp {
	font: 100%/1.5 Menlo, Consolas, 'DejaVu Sans Mono', Monaco, monospace;
}

p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, fieldset, menu, label /* , td, th, img 16px / 24px */ {
	margin: 0 0 $line-ht;
}

/* TABLES */
table {
/*	in normalize.css
	border-collapse: collapse;
	border-spacing: 0;
*/
	border-width: 0;
	margin-bottom: $line-ht;
	empty-cells: show;
}

th {
	text-align: center;
	font-weight: bold;
}
th, td {
	padding: 0 $line-ht/2;
	border-bottom: 0 solid;
}

/* FORMS */
form {
	overflow: auto;
}

textarea { /* mostly from baseline.js */
	vertical-align: top;
	width: 99%;
	margin: 0 0 -2px 0;
	display: block;
	clear: left;
	border: 1px solid #333;
/*	in normalize.css
	overflow: auto;
*/
}

legend {
	padding-bottom: $line-ht;
//	what is this for?!
//	*margin-left: -.75em;
}

/*	in normalize.css
button, input {
	overflow: visible;
}
*/

button, html input[type="button"], input[type="reset"], input[type="submit"] {
/*	in normalize.css
	cursor: pointer;
	-webkit-appearance: button;
*/
	margin-bottom: $line-ht;
}


/*	in normalize.css
button[disabled], html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="search"] {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
*/

input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"] {
/* from BASELINE.js */
	font-size: inherit;
	border: 1px solid #666;
	line-height: 20px;
	display: block;
	padding: 1px 0;
	margin: 0;
//	width: 99%;
}

input[type="select"], select {
/* from BASELINE.js */
	display: block;
	height: $line-ht;
	border: 0 solid;
	padding: 0;
}

/* QUOTES */
blockquote {
	quotes: none;
}
q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none;
}
blockquote, q, cite {
	font-style: italic;
}
blockquote {
	padding-left: $line-ht;
	border-left: 3px solid #ccc;
}
blockquote > p {
	padding: 0;
}

/* LISTS */
ul {
	list-style: disc inside;
}
ol {
	list-style: decimal inside;
}

/* LINKS */
a {
	text-decoration: none;
/* in normalize.css
	background: transparent;
*/
	&:hover, &:focus {
		text-decoration: none;
	}
	&:focus {
		outline: thin dotted;
	}
	&:active {

	}
	&:visited {

	}
}

/* in normalize.css
a:hover, a:active { outline: none; }
*/

/* ABBREVIATION */
abbr[title], dfn[title] {
	border-bottom: 1px dotted #333;
	cursor: help;
}

/* MARKED/INSERTED/DELETED AND SELECTED TEXT */
ins, mark {
	text-decoration: none;
}
ins {
	background: #d49855;
}
del {
	text-decoration: line-through;
}

/*	in normalize.css
mark {
	background-color: #FF3;
	color: #000;
}
*/

/* OTHERS */
strong, b, dt {
	font-weight: bold;
}
/*	in normalize.css
dfn {
	font-style: italic;
}
*/
var, address {
	font-style: normal;
}

/*	in normalize.css
Position 'sub' and 'sup' without affecting line-height

sub, sup {
	font-size: .75em;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
*/

/* Best available ampersand */
span.amp {
	font-family: Adobe Caslon Pro,Baskerville,"Goudy Old Style","Palatino","Palatino Linotype","Book Antiqua",Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	font-size: 110%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

li ul, li ol {
	margin-top: 0;
	margin-bottom: 0;
}
ul.noDot, ol.noDot, nav ul {
	list-style: none;
	margin-left: 0;
}
dd+dt {
	margin-top: $line-ht;
}


.debug {
	background-image: url(data:image/gif;base64,R0lGODlhAQAYAIAAAO7u7v///yH5BAAAAAAALAAAAAABABgAAAIFjI+pBgUAOw==);
}
