/**
 * modules/mixins
 * ---
 */


@mixin reset-box {
  padding: 0;
  margin: 0;
  border: 0;
}

@mixin minw($min) {
	@media only screen and (min-width: $min) {
		@content;
	}
}

@mixin maxw($max) {
	@media only screen and (max-width: $max) {
		@content;
	}
}
@mixin minmax($min, $max) {
	@media only screen and (min-width: $min) and (max-width: $max) {
		@content;
	}
}

// micro clearfix: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  @include has-layout;
}