/* LINKS */
a {
	color: $main-link;
	&:hover, &:focus {
	}
	&:active {
	}
	&:visited {
		color: $main-vlink;
	}
}

/* selected text */
::selection, ::-moz-selection {
	background: $selcn-bg;
	color: $selcn;
	text-shadow: none;
}

